.productHeader {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin: 8px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 65px;
  flex-direction: row;
  box-shadow: var(--shadow-medium);
  background: var(--brand);
  color: var(--white);
}

.letterMark {
  background: var(--border-secondary);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand);
  font-size: 32px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.name {
  color: var(--white);
  padding: 0;
  font-weight: 500;
}

.actions {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  z-index: 99;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.basic {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.logo,
.basic {
  margin-top: 8px;
}

.logo {
  width: 128px;
  height: 128px;
  margin-left: 16px;
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  background: var(--white);
  border: 4px solid var(--brand-faded);
  z-index: 99;
  align-self: center;
  justify-self: center;
}

.actionsFill {
  background: var(--brand-faded);
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.logo .image {
  position: relative !important;
  width: 128px;
  height: auto;
}

.button {
  padding: 8px;
  background: rgba(255, 255, 255, 0.8);
  color: var(--brand);
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  text-decoration: none;
}

.button:hover {
  background: var(--white);
  transition: background 0.15s;
}

.button ~ .button {
  margin-left: 4px;
}

@media (max-width: 767px) {
  .productHeader {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 65px;
  }

  .spacer {
    display: none;
  }

  .actionsFill,
  .actions {
    grid-row: 3 / span 1;
    grid-column: 1 / 1;
  }

  .basic {
    grid-row: 2 / span 1;
    grid-column: 1 / 1;
  }

  .logo {
    grid-row: 1 / span 1;
  }

  .basic,
  .actions {
    padding: 0 8px;
  }
}
