.listItem {
  list-style-type: none;
  display: flex;
}

.list {
  display: grid;
  column-gap: 8px;
  row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-rows: span 4;
  flex-direction: column;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding: 8px;
}

.search {
  display: flex;
  flex-direction: column;
}

.productList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerText {
  text-align: left;
  padding: 0 16px;
}
