.productListItem {
  background: var(--bg-page-primary);
  border-radius: 8px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  box-shadow: var(--shadow-small);
  padding: 8px 0;
}

.name {
  font-size: 14px;
  padding: 0px 8px 8px 8px;
}

.tagCloud {
  display: flex;
  flex-direction: row;
}

.name a {
  text-decoration: none;
  color: var(--text-link);
}

.name a:hover {
  text-decoration: underline;
}
