.actionItem :global(.anyAction) {
  padding: 8px;
  display: inline-block;
  color: var(--text-link);
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.actionItem:focus :global(.anyAction) {
  background-color: var(--brand);
  color: var(--white);
}

.actionItem + .actionItem {
  margin-left: 4px;
}

.actionItem :global(.anyAction:hover) {
  background-color: var(--bg-row);
}

.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterRoot {
  background: #f3f7fb80;
  backdrop-filter: blur(10px);
  z-index: 99999;
  position: sticky;
  top: 62px;
  padding: 8px;
}

.clear {
  border: none;
  background: transparent;
  font-weight: 500;
  padding: 8px;
  flex: 0 0 auto;
  color: var(--text-primary);
  cursor: pointer;
  border-radius: 4px;
}

.clear:hover {
  background: var(--bg-row);
}

.submit {
  border: none;
  background: var(--brand);
  font-weight: 500;
  padding: 8px;
  flex: 0 0 auto;
  color: var(--white);
  cursor: pointer;
  border-radius: 4px;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 767px) {
  .spacer {
    display: none;
  }

  /**
   * Has only has ~87% of browser support, but since this is a
   * mobile-only change, we should be safer to use it.
   *
   * This is here because when using backdrop-filter in a parent,
   * all fixed position children are positioned relative to this container,
   * not to the viewport.  As such, we need to remove this blur when the dialog
   * is open to ensure it takes up the full viewport.
   */
  .filterRoot:has(:global(.anyDropdownRoot):focus-within) {
    backdrop-filter: none;
  }
}
