.listItem {
  list-style-type: none;
  display: flex;
}

.list {
  display: grid;
  column-gap: 8px;
  row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
  flex-direction: column;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding: 8px;
}

.search {
  display: flex;
  flex-direction: column;
}

@media (min-width: 860px) {
  .list.list {
    grid-template-columns: repeat(auto-fill, minmax(200px, calc(33% - 4px)));
  }
}

.productList {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
}

.headerText {
  text-align: center;
}
