.productListItem {
  background: var(--brand);
  border-radius: 8px;
  display: grid;
  flex: 1 1 auto;
  box-shadow: var(--shadow-small);
  cursor: pointer;
  pointer-events: none;
  overflow: hidden;
}

.productListItem:hover {
  box-shadow: var(--shadow-medium);
  transition: ease-in-out 0.2s;
}

.productListItem > * {
  grid-area: 1/1;
  min-width: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.info {
  border-radius: 8px;
  background: var(--bg-page-primary);
  overflow: hidden;
  flex: 1 1 auto;
}

.name {
  font-size: 14px;
  padding: 16px;
  margin: 0;
  color: var(--white);
  font-weight: 500;
}

.anchor {
  pointer-events: auto;
}

.tagCloud {
  display: flex;
  flex-direction: row;
}

.name a {
  text-decoration: none;
  color: var(--text-link);
}

.name a:hover {
  text-decoration: underline;
}
