.dropdownRoot {
  display: inline-block;
  outline: none;
}

.dropdownContainer {
  display: inline-grid;
}

.dropdownContainer > * {
  grid-area: 1/1;
}

.popup {
  position: absolute;
  top: calc(100% + 2px);
  visibility: hidden;
  opacity: 0;
  z-index: 100000;
  display: flex;
}

.dropdownRoot:focus-within .popup {
  outline: none;
  visibility: visible;
  opacity: 1;
}

.dropdownContainer .closeMask {
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.dropdownRoot:focus-within ~ .closeMask {
  display: inline-block;
}

.overlay {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999;
  pointer-events: none;
}

@media (min-width: 767px) {
  .dropdownRoot {
    position: relative;
  }

  .popup {
    min-width: 100%;
  }
}

@media (max-width: 767px) {
  .dropdownRoot:focus-within .overlay {
    display: block;
  }

  .popup {
    position: fixed;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
  }
}
