.dropdownRoot {
  display: inline-block;
  outline: none;
}

.popup {
  position: absolute;
  top: calc(100% + 2px);
  visibility: hidden;
  opacity: 0;
  z-index: 100000;
  display: flex;
}

.dropdownRoot:focus .popup {
  outline: none;
  visibility: visible;
  opacity: 1;
}

.dropdownRoot .closeMask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.dropdownRoot:focus .closeMask {
  display: inline-block;
}

.overlay {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999;
}

@media (min-width: 767px) {
  .dropdownRoot {
    position: relative;
  }

  .popup {
    min-width: 100%;
  }
}

@media (max-width: 767px) {
  .dropdownRoot:focus .overlay {
    display: block;
  }

  .popup {
    position: fixed;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
  }
}
