.header {
  display: flex;
  padding: 8px;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--bg-page-primary);
  border-bottom: 1px solid var(--border-primary);
  z-index: 99999;
}

.query {
  flex: 1 1 auto;
  outline: 0;
  background: var(--bg-page-alt);
  border-radius: 4px;
  align-items: center;
  box-shadow: 0 0 0 1px var(--border-primary);
  font-size: 16px;
  padding: 0 8px;
  display: flex;
}

.query:focus-within {
  box-shadow:
    0 0 0 1px var(--brand),
    0 0 0 4px var(--brand-faded);
  transition: box-shadow 0.15s;
}

.icon {
  margin-right: 4px;
}

.query input {
  outline: 0;
  padding: 8px 0;
  background: transparent;
  font-size: 14px;
  flex: 1 1 auto;
  border: none;
}

.logo {
  flex: 0 0 auto;
  padding: 8px;
}

.logo {
  font-size: 18px;
  color: var(--brand);
  font-weight: bold;
  text-decoration: none;
}

.productToken {
  border: 1px solid var(--border-primary);
  background: var(--bg-page-alt);
  position: relative;
  align-self: center;
  font-weight: 500;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  margin-right: 4px;
  overflow: hidden;
}

.name {
  padding: 4px;
  font-size: 14px;
  margin: 0 4px;
}

.productToken .clear {
  text-decoration: none;
  padding: 4px 8px;
  font-size: 14px;
  border-left: 1px solid var(--border-primary);
}

.productToken .clear:hover {
  background: var(--bg-row);
}
