.tag {
  display: inline-flex;
  white-space: nowrap;
  padding: 6px;
  border: 1px solid var(--border-primary);
  border-radius: 4px;
  background-color: var(--bg-page-primary);
  color: var(--text-primary);
  font-weight: 500;
  flex: 0 0 auto;
  margin-top: 4px;
  margin-right: 4px;
}

.tag.alt {
  background-color: var(--bg-page-alt);
}

.icon {
  width: 12px;
  flex: 0 0 auto;
  margin-right: 8px;
  position: relative;
}

.icon img {
  width: 14px;
  fill: var(--icon-primary);
}
