:root {
  --fonts: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", helvetica, arial, sans-serif;
  --palatinate-blue: #4b3ee0;
  --columbia-blue: #c0d6df;
  --licorice: #22181c;
  --davys-gray: #aca9b6;
  --chestnut: #a5402d;
  --baby-powder: #fdfffc;
  --black-squeeze: #f3f7fb;
  --frosty-blue: #fafcfd;
  --ethereal-white: #e6eff2;

  --gainsboro: #e8e8e8;
  --alto: #d9d9d9;
  --white: #ffffff;
}

.lightTheme,
:root {
  --shadow-small: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --text-primary: var(--licorice);
  --text-secondary: var(--davys-grey);
  --brand: var(--palatinate-blue);
  --text-link: var(--palatinate-blue);
  --bg-page-primary: var(--baby-powder);
  --bg-page-alt: var(--black-squeeze);
  --bg-row: var(--frosty-blue);
  --border-primary: var(--columbia-blue);
  --border-secondary: var(--ethereal-white);
  --icon-primary: var(--alto);
}
